<%= form_for(@slot) do |f| %>
  <% if @slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slot.errors.count, "error") %> prohibited this slot from being saved:</h2>

      <ul>
      <% @slot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :quarter %><br />
		<%= select( :slot, :quarter, [ "", "AQ2011", "WQ2012", "SQ2012", "SS2012", "AQ2012", "WQ2013" ], :selected => "WQ2012") %>
  </div>
	<div class="field">
    <%= f.label :show_id %>
		<%= collection_select(:slot, :show_id, Show.find(:all, :order => 'title'), :id, :title, :prompt => true) %>
	</div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time, {:default => { :hour => 8, :minute => 0 }, :ampm => true, :minute_step => 30 } %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.time_select :end_time, {:default => { :hour => 8, :minute => 0 }, :ampm => true, :minute_step => 30 } %>
  </div>
  <div class="field">
    <%= f.label :monday %>
    <%= f.check_box :monday %>
  </div>
  <div class="field">
    <%= f.label :tuesday %>
    <%= f.check_box :tuesday %>
  </div>
  <div class="field">
    <%= f.label :wednesday %>
    <%= f.check_box :wednesday %>
  </div>
  <div class="field">
    <%= f.label :thursday %>
    <%= f.check_box :thursday %>
  </div>
  <div class="field">
    <%= f.label :friday %>
    <%= f.check_box :friday %>
  </div>
  <div class="field">
    <%= f.label :saturday %>
    <%= f.check_box :saturday %>
  </div>
  <div class="field">
    <%= f.label :sunday %>
    <%= f.check_box :sunday %>
  </div>
  <div class="actions">
    <%= submit_tag 'Save', :class => "form_submit" %>
  </div>
<% end %>
