<%= form_for @slot, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :quarter, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :quarter %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_select :start_time, {:default => { :hour => 8, :minute => 0 }, :ampm => true, :minute_step => 30 } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_select :end_time, {:default => { :hour => 8, :minute => 0 }, :ampm => true, :minute_step => 30 } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :monday, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :monday, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tuesday, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :tuesday, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :wednesday, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :wednesday, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :thursday, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :thursday, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :friday, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :friday, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :saturday, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :saturday, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sunday, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :sunday, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :show_id, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:slot, :show_id, Show.find(:all, :order => 'title'), :id, :title, :prompt => true) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                slots_path, :class => 'btn' %>
  </div>
<% end %>
