<%- model_class = Slot.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div id="search_form">
<%= search_form_for @q do |f| %>
  <div class="controls>
    <%= f.label :quarter_cont, "Quarter" %>
    <%= f.text_field :quarter_cont %>
    <%= f.label :monday_true, "Monday" %>
    <%= f.check_box :monday_true %>
    <%= f.label :tuesday_true, "Tuesday" %>
    <%= f.check_box :tuesday_true %>
    <%= f.label :wednesday_true, "Wednesday" %>
    <%= f.check_box :wednesday_true %>
    <%= f.label :thursday_true, "Thursday" %>
    <%= f.check_box :thursday_true %>
    <%= f.label :friday_true, "Friday" %>
    <%= f.check_box :friday_true %>
    <%= f.label :saturday_true, "Saturday" %>
    <%= f.check_box :saturday_true %>
    <%= f.label :sunday_true, "Sunday" %>
    <%= f.check_box :sunday_true %>
    <%= f.label :start_time_gteq, "Time between" %>
    <%= f.time_select :start_time_gteq, {:default => { :hour => 0, :minute => 0 }, :ampm => true, :minute_step => 30 } %>
    <%= f.label :end_time_lteq, "and" %>
    <%= f.time_select :end_time_lteq, {:default => { :hour => 0, :minute => 0 }, :ampm => true, :minute_step => 30 } %>
    <%= f.submit %>
  </div>
<% end %>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_slot_path,
            :class => 'btn btn-primary' %>
<br><br>
<table class="datatable table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:avatar) %></th>
      <th><%= model_class.human_attribute_name(:show_id) %></th>
      <th><%= model_class.human_attribute_name(:quarter) %></th>
      <th><%= model_class.human_attribute_name(:days) %></th>
      <th><%= model_class.human_attribute_name(:start_time) %></th>
      <th><%= model_class.human_attribute_name(:end_time) %></th>  
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @slots.each do |slot| %>
      <tr>
        <td><%= image_tag(slot.show.avatar.square.thumb.url) %></td>
        <td><%= link_to slot.show.title, slot_path(slot) %></td>
        <td><%= slot.quarter %></td>
        <td><%= slot.get_days_airing_s %></td>
        <td><%= slot.start_time.strftime("%I:%M%p %Z") unless slot.start_time.nil? %></td>
        <td><%= slot.end_time.strftime("%I:%M%p %Z") unless slot.end_time.nil? %></td>
        <td><%= slot.created_at.strftime("%I:%M%p %Z") unless slot.created_at.nil? %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_slot_path(slot), :class => 'btn btn-mini' %>
          <%= link_to 'Delete',
                      slot_path(slot),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_slot_path,
            :class => 'btn btn-primary' %>
<br><br>
