.page-header
  %h1.title Slots
= link_to 'New', new_slot_path, class: 'btn btn-primary'
%br
  %br
    %table.datatable.table.table-striped
      %thead
        %tr
          %th Avatar
          %th Show ID
          %th Days
          %th Start Time
          %th End Time
          %th Created At
          %th Actions
      %tbody
        - @slots.each do |slot|
          %tr
            %td= image_tag(slot.show.avatar.square.thumb.url)
            %td= link_to slot.show.title, slot_path(slot)
            %td= slot.days
            %td= slot.start_time
            %td= slot.end_time
            %td= pretty_date slot.created_at unless slot.created_at.nil?
            %td
              = link_to 'Edit', edit_slot_path(slot), class: 'btn btn-mini'
              = link_to 'Delete', slot_path(slot), method: :delete, confirm: 'Are you sure?', :class => 'btn btn-mini btn-danger'
    = link_to 'New', new_slot_path, class: 'btn btn-primary'
