<h1>Time Slots</h1>
<br />
<%= link_to 'Add a New Time Slot', new_slot_path, :class => "action" %>
<br /><br />
<table>
  <tr>
    <th>Quarter</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Days</th>
		<th>Scheduled Show</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @slots.each do |slot| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= slot.quarter %></td>
    <td><%= slot.start_time.strftime("%I:%M%p %Z") %></td>
    <td><%= slot.end_time.strftime("%I:%M%p %Z") %></td>
    <td><%= slot.get_days_airing_s %></td>
		<td><%= slot.show.title unless slot.show.nil? %></td>
    <td><%= link_to 'Show', slot, :class => "action" %></td>
    <td><%= link_to 'Edit', edit_slot_path(slot), :class => "action" %></td>
    <td><%= link_to 'Delete', slot, confirm: 'Are you sure?', method: :delete, :class => "action" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New Time Slot', new_slot_path, :class => "action" %>
