.page-header
  %h1 Slot
%dl.dl-horizontal
  %dt
    %strong Quarter
  %dd= @slot.quarter
  %dt
    %strong Start time
  %dd= @slot.start_time
  %dt
    %strong End time
  %dd= @slot.end_time
  %dt
    %strong
  %dt
    %strong Show
  %dd= @slot.show.title
.form-actions
  = link_to 'Back', slots_path, class: 'btn'
  = link_to 'Edit', edit_slot_path(@slot), class: 'btn'
  = link_to 'Delete', slot_path(@slot), method: 'delete', confirm: 'Are you sure?', class: 'btn btn-danger'
