<%= form_for(@person, :html => {:multipart => true}) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= f.label :first_name %></b><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <b><%= f.label :last_name %></b><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <b><%= f.label :nickname %></b><br />
    <%= f.text_field :nickname %>
  </div>
	<div class="field">
    <b>DePaul ID:</b><br />
    <%= f.text_field :depaul_id %>
  </div>
  <div class="field">
    <b><%= f.label :bio %></b><br />
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <b><%= f.label :influences %></b><br />
    <%= f.text_area :influences %>
  </div>
  <div class="field">
    <b><%= f.label :facebook_username %></b><br />
    <%= f.text_field :facebook_username %>
  </div>
  <div class="field">
    <b><%= f.label :linkedin_username %></b><br />
    <%= f.text_field :linkedin_username %>
  </div>
  <div class="field">
    <b><%= f.label :twitter_username %></b><br />
    <%= f.text_field :twitter_username %>
  </div>
  <div class="field">
    <b><%= f.label :website_url %></b><br />
    <%= f.text_field :website_url %>
  </div>
  <div class="field">
    <b><%= f.label :email %></b><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <b><%= f.label :major %></b><br />
    <%= f.text_field :major %>
  </div>
  <div class="field">
    <b><%= f.label :class_year %></b><br />
    <%= f.text_field :class_year %>
  </div>
  <div class="field">
    <b><%= f.label :hometown %></b><br />
    <%= f.text_field :hometown %>
  </div>
	<div class="field">
    <b><%= f.label :avatar %></b><br />
		<% if @person.avatar? %>
			<%= image_tag(@person.avatar.thumb.url) %><br />
			Remove Avatar<%= f.check_box :remove_avatar %><br/>
		<% end %>
			Upload File: <%= f.file_field :avatar %><br />
			<%= f.hidden_field :avatar_cache %>
			Import from Web: <%= f.text_field :remote_avatar_url %>
	</div>
  <div class="actions">
    <%= submit_tag 'Add Person', :class => "form_submit" %>
  </div>
<% end %>
