<%= form_for(@person, :html => {:multipart => true}) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :influences %><br />
    <%= f.text_area :influences %>
  </div>
  <div class="field">
    <%= f.label :facebook_username %><br />
    <%= f.text_field :facebook_username %>
  </div>
  <div class="field">
    <%= f.label :linkedin_username %><br />
    <%= f.text_field :linkedin_username %>
  </div>
  <div class="field">
    <%= f.label :twitter_username %><br />
    <%= f.text_field :twitter_username %>
  </div>
  <div class="field">
    <%= f.label :website_url %><br />
    <%= f.text_field :website_url %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :major %><br />
    <%= f.text_field :major %>
  </div>
  <div class="field">
    <%= f.label :class_year %><br />
    <%= f.text_field :class_year %>
  </div>
  <div class="field">
    <%= f.label :hometown %><br />
    <%= f.text_field :hometown %>
  </div>
	<div class="field">
    <%= f.label :avatar %><br />
		<% if @person.avatar? %>
			<%= image_tag(@person.avatar.thumb.url) %><br />
			Remove Avatar<%= f.check_box :remove_avatar %><br/>
		<% end %>
			Upload File: <%= f.file_field :avatar %><br />
			<%= f.hidden_field :avatar_cache %>
			Import from Web: <%= f.text_field :remote_avatar_url %>
	</div>
  <div class="actions">
    <%= submit_tag 'Add Person', :class => "form_submit" %>
  </div>
<% end %>
