<%= nested_form_for @person, :html => { :class => 'form-horizontal', :html => {:multipart => true} } do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "DePaul ID#", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :depaul_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nickname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nickname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :bio, :class => 'text_area', :rows => 5, :style => "width:400px;" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :influences, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :influences, :class => 'text_area', :rows => 5, :style => "width:400px;" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :facebook_username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :facebook_username, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :linkedin_username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :linkedin_username, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :twitter_username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :twitter_username, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :website_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :website_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :major, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :major, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :class_year, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :class_year, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hometown, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hometown, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :avatar, :class => 'control-label' %>
    <div class="controls">
      <% if @person.avatar? %>
      <%= image_tag(@person.avatar.square.thumb.url) %><br />
      Replace File: <%= f.file_field :avatar %><br />
      <%= f.hidden_field :avatar_cache %>
      Replace from URL: <%= f.text_field :remote_avatar_url %><br/>
      Remove Photo<%= f.check_box :remove_avatar %><br/>
    <% else %>
      Upload File: <%= f.file_field :avatar %><br />
      <%= f.hidden_field :avatar_cache %>
      Upload from URL: <%= f.text_field :remote_avatar_url %>
    <% end %>
    </div>
  </div>

<div class="control-group">
    <%= f.label "Shows", :class => 'control-label' %>
    <div class="controls">
        <%= f.fields_for :hostings %>
        <%= f.link_to_add "Add Show", :hostings, :class => "action" %><br /><br />
    </div>
</div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "Cancel", :back, :class => 'btn' %>
  </div>
<% end %>
