.page-header
  %h1.title People
  = link_to 'Showing Archived (toggle)', people_path(archived: true), remote: true, id: 'toggle'

  = form_tag admin_people_path, method: :put do
    %div{:class => 'btn-toolbar'}
      .btn-group
        = link_to_function '✓', '$("input[id=person_ids_]").toggleCheckbox();', class: 'btn btn-warning'
        = link_to 'New', new_person_path, :class => 'btn btn-primary'
        = submit_tag 'Archive', name: 'archive_button', class: 'btn'
        = submit_tag 'Restore', name: 'restore_button', class: 'btn'
      .btn-group
        = submit_tag 'Send Welcome Email', :name => 'send_welcome_email_button', :class => 'btn'
        = submit_tag 'Reset Password', :name => 'reset_password_button', :class => 'btn'

    = render partial: 'table'

= link_to 'New', new_person_path, class: 'btn btn-primary'
