<p id="notice"><%= notice %></p>

  <h2><%= @person.first_last_name %></h2>

<p>
  <b>Nickname:</b>
  <%= @person.nickname %>
</p>

  <p><b>Shows Hosted:</b></p>
	<ul>
<% @person.shows.find(:all, :order => 'title').each do |show| %>
	<li><%= link_to show.title, :controller => "shows", :action => "show", :id => show.id %></li>
<% end %>
</ul>

<p>
  <b>Bio:</b>
  <%= @person.bio %>
</p>

<p>
  <b>Influences:</b>
  <%= @person.influences %>
</p>

<p>
  <b>Facebook username:</b>
  <%= link_to @person.facebook_username, "http://facebook.com/" + @person.facebook_username %>
</p>

<p>
  <b>Linkedin username:</b>
  <%= link_to @person.linkedin_username, "http://linkedin.com/in/" + @person.linkedin_username %>
</p>

<p>
  <b>Twitter username:</b>
  <%= link_to @person.twitter_username, "http://twitter.com/" + @person.twitter_username %>
</p>

<p>
  <b>Website url:</b>
  <%= link_to @person.website_url, "http://" + @person.website_url %>
</p>

<p>
  <b>Email:</b>
  <%= link_to @person.email, "mailto:" + @person.email %>
</p>

<p>
  <b>Major:</b>
  <%= @person.major %>
</p>

<p>
  <b>Class year:</b>
  <%= @person.class_year %>
</p>

<p>
  <b>Hometown:</b>
  <%= @person.hometown %>
</p>


<%= link_to 'Edit', edit_person_path(@person), :class => "action" %> |
<%= link_to 'Back', people_path, :class => "action" %>
