- model_class = @person.class
.page-header
  %h1= @person.first_last_name
  %h3= @person.created_at.strftime("Added on %m/%d/%Y at %I:%M%p")
%div#tabs
  %ul
    %li
      = link_to 'Info', '#info' 
    %li
      = link_to 'Shows', '#shows'
  %div#info
    = image_tag(@person.avatar.square.small.url, :style => "margin-left:10px;float:right")
    %dl.dl
      %dt
        %strong
          = model_class.human_attribute_name(:nickname)
      %dd= @person.nickname
      %dt
        %strong
          = model_class.human_attribute_name(:bio)
      %dd= @person.bio
      %dt
        %strong
          = model_class.human_attribute_name(:influences)
      %dd= @person.influences
      %dt
        %strong
          = model_class.human_attribute_name(:facebook_username)
      %dd= @person.facebook_username
      %dt
        %strong
          = model_class.human_attribute_name(:linkedin_username)
      %dd= @person.linkedin_username
      %dt
        %strong
          = model_class.human_attribute_name(:twitter_username)
      %dd= @person.twitter_username
      %dt
        %strong
          = model_class.human_attribute_name(:website_url)
      %dd= @person.website_url
      %dt
        %strong
          = model_class.human_attribute_name(:email)
      %dd= mail_to @person.email
      %dt
        %strong
          = model_class.human_attribute_name(:major)
      %dd= @person.major
      %dt
        %strong
          = model_class.human_attribute_name(:class_year)
      %dd= @person.class_year
      %dt
        %strong
          = model_class.human_attribute_name(:hometown)
      %dd= @person.hometown
      - if current_person.admin? 
        %dt
          %strong Depaul ID#
        %dd= @person.depaul_id
        %dt
          %strong Last Signed In At
        - if @person.last_sign_in_at
          %dd= @person.last_sign_in_at.strftime("%m/%d/%Y at %I:%M%p") 
        - else
          %dd Person has never signed in 
        %dt
          %strong Welcome Email Sent At
        - if @person.welcome_email_sent_at
          %dd= @person.welcome_email_sent_at.strftime("%m/%d/%Y at %I:%M%p") 
        - else
          %dd Welcome email never sent
  %div#shows
    %h2 Shows
    - if @person.shows.length == 0
      %p No shows at the moment.
    - else
      %table.datatable.table.table-striped
        %thead
          %tr
            %th= Show.human_attribute_name(:avatar)
            %th= Show.human_attribute_name(:title)
            %th= Show.human_attribute_name(:genres)
            %th # Host
            %th # Slos
            %th= Show.human_attribute_name(:updated_at)
            %th= t '.actions', :default => t("helpers.actions")
        %tbody
          - @person.shows.each do |show|
            %tr
              %td= image_tag(show.avatar.square.thumb.url)
              %td= link_to show.title, show_path(show)
              %td= show.genre_list
              %td= show.people.count
              %td= show.slots.count
              %td= show.updated_at.strftime("%I:%M%p %Z") unless show.updated_at.nil?
              %td
                = link_to t('.edit', :default => t("helpers.links.edit")), |
                  edit_show_path(show), :class => 'btn btn-mini'           |
.form-actions
  = link_to "Back", :back, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_person_path(@person), :class => 'btn'
  = link_to 'Delete', person_path(@person), :method => 'delete', :data => { :confirm => "Are you sure you want to delete #{@person.first_last_name}?" }, :class => 'btn btn-danger'
