.page-header
  %h1= @person.name
  %h3= @person.created_at.strftime("Added on %m/%d/%Y at %I:%M%p")

#tabs
  %ul
    %li= link_to 'Info', '#info'
    %li= link_to 'Shows', '#shows'

  #info
    = image_tag(@person.small_url, style: 'margin-left:10px;float:right')
    %dl.dl
      %dt
        %strong Nickname
      %dd= @person.nickname

      %dt
        %strong Bio
      %dd= @person.bio

      %dt
        %strong Influences
      %dd= @person.influences

      %dt
        %strong Facebook Username
      %dd= @person.facebook_username

      %dt
        %strong LinkedIn Username
      %dd= @person.linkedin_username

      %dt
        %strong Twitter Username
      %dd= @person.twitter_username

      %dt
        %strong Website URL
      %dd= @person.website_url

      %dt
        %strong Email
      %dd= mail_to @person.email

      %dt
        %strong Major
      %dd= @person.major

      %dt
        %strong Class Year
      %dd= @person.class_year

      %dt
        %strong Hometown
      %dd= @person.hometown

      - if current_person.admin?
        %dt
          %strong Depaul ID#
        %dd= @person.depaul_id
        %dt
          %strong Last Signed In At
        - if @person.last_sign_in_at
          %dd= @person.last_sign_in_at.strftime("%m/%d/%Y at %I:%M%p")
        - else
          %dd Person has never signed in
        %dt
          %strong Welcome Email Sent At
        - if @person.welcome_email_sent_at
          %dd= @person.welcome_email_sent_at.strftime("%m/%d/%Y at %I:%M%p")
        - else
          %dd Welcome email never sent

  #shows
    %h2 Shows
    - if @person.shows.length == 0
      %p No shows at the moment.
    - else
      %table.datatable.table.table-striped
        %thead
          %tr
            %th Avatar
            %th Title
            %th Genre
            %th # Host
            %th # Slos
            %th Updated At
            %th= t '.actions', :default => t("helpers.actions")
        %tbody
          - @person.shows.each do |show|
            %tr
              %td= image_tag(show.avatar.square.thumb.url)
              %td= link_to show.title, show_path(show)
              %td= show.genre_list
              %td= show.hosts.count
              %td= show.slots.count
              %td= show.updated_at.strftime("%I:%M%p %Z") unless show.updated_at.nil?
              %td
                = link_to t('.edit', :default => t("helpers.links.edit")), |
                  edit_show_path(show), :class => 'btn btn-mini'           |

.form-actions
  = link_to "Back", :back, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_person_path(@person), :class => 'btn'
  = link_to 'Delete', person_path(@person), :method => 'delete', :data => { :confirm => "Are you sure you want to delete #{@person.name}?" }, :class => 'btn btn-danger'
