<%= semantic_form_for @application, :html => { :class => 'form-horizontal', :html => {:multipart => true} }, :validate => true do |f| %>
<p>
All fields marked with an asterisk (*) are required.<br /><br />
</p>
  <%= f.error_messages %>
  <%= f.inputs do %>
    <%= f.input :first_name, :required => true %>
    <%= f.input :last_name, :required => true %>
    <%= f.input :depaul_id, :label => "DePaul ID", :required => true %>
    <%= f.input :gpa, :label => 'GPA', :hint => 'If you do not have a GPA yet, submit your final H.S. GPA', :required => true %>
    <%= f.input :year, :as => :radio, :collection => ["Freshmen", "Sophomore", "Junior", "Senior"], :required => true %>
    <%= f.input :major, :label => 'Major/Minor' %>
    <%= f.input :email, :as => :email, :required => true  %>
    <%= f.input :phone, :as => :phone, :label => 'Cell Phone' %>
    <%= f.input :home_city %>
    <%= f.input :home_state %>
    <%= f.input :why_depaul, :label => "Why did you choose DePaul?", :input_html => { :class => 'autogrow', :rows => 10, :cols => 80  } %>
    <%= f.input :influences, :label => "Personal Influences", :hint => "Musical or otherwise?", :input_html => { :class => 'autogrow', :rows => 10, :cols => 80  }  %>
    <%= f.input :bio, :hint => "Nothing too personal, just tell us about yourself.", :input_html => { :class => 'autogrow', :rows => 10, :cols => 80  }, :required => true %>
    <%= f.input :position, :label => 'Position for which you are applying?', :as => :radio, :collection => ["Host", "Newscaster", "Sportscaster", "Other"], :required => true %>
    <%= f.inputs :host_inputs => "Host inputs", :id => "host_inputs" do %>
      <%= f.input :host_type, :label => 'Host type?', :as => :radio, :collection => ["Music", "Talk", "Off-air podcast"] %>
      <%= f.input :show_type, :hint => "sports, politics..." %>
      <%= f.input :co_hosts, :label => "Co-host(s) *if you plan on having one", :hint => "Note: Co-hosts must also apply." %>
      <%= f.input :show_name, :label => "Proposed Show Name?" %>
      <%= f.input :show_description, :label => "Brief description of your proposed show", :hint => "Think of this as an enticing headline for your show- 20 words maximum.", :input_html => { :class => 'autogrow', :rows => 10, :cols => 80  }  %>
      <%= f.input :why_listen, :label => "How do you plan on making your show stand out in the crowd? Why will people want to listen to your show?", :input_html => { :class => 'autogrow', :rows => 10, :cols => 80  } %>
      <div class="string control-group optional stringish" id="application_genre_list_input">
        <%= f.label 'Genre(s)', :for => :genre_list %>
        <div class="controls">
          <%= f.autocomplete_field :genre_list, autocomplete_genre_name_shows_path, :"data-delimiter" => ", " %> 
        </div>
      </div>
    <% end %>
    <%= f.input :why_work_here, :label => "Why do you want to work at Radio DePaul?", :required => true, :input_html => { :class => 'autogrow', :rows => 10, :cols => 80  } %>
    <%= f.input :experience, :label => "Do you have any broadcasting/journalism experience?  If so, tell us about your experiences.", :input_html => { :class => 'autogrow', :rows => 10, :cols => 80  }  %>
    <%= f.input :campus_involvement, :label => "Are you involved with any other campus groups/organizations?  If so, tell us about them.", :input_html => { :class => 'autogrow', :rows => 10, :cols => 80  }  %>
    <%= f.input :favorite_artists, :input_html => { :class => 'autogrow', :rows => 10, :cols => 80  }  %>
    <%= f.input :favorite_tv_shows, :input_html => { :class => 'autogrow', :rows => 10, :cols => 80  }  %>
    <%= f.input :favorite_films, :input_html => { :class => 'autogrow', :rows => 10, :cols => 80  }  %>
    <%= f.input :twitter_url, :as => :url, :hint => 'http://www.twitter.com/username' %>
    <%= f.input :facebook_url, :as => :url, :hint => 'http://www.facebook.com/username' %>
    <%= f.input :tumblr_url, :as => :url, :hint => 'http://www.username.tumblr.com' %>
    <%= f.input :anything_else, :label => 'Anything else you would like us to know about you?', :input_html => { :class => 'autogrow', :rows => 10, :cols => 80  }  %>
  <% end %>
  <div class="control-group">
    <%= f.label :website_profile_photo, :class => 'control-label' %>
    <div class="controls">
      <% if @application.avatar? %>
      <%= image_tag(@application.avatar.square.thumb.url) %><br />
      Replace File: <%= f.file_field :avatar %><br />
      <%= f.hidden_field :avatar_cache %>
      Replace from URL: <%= f.text_field :remote_avatar_url %><br/>
      Remove Photo<%= f.check_box :remove_avatar %><br/>
    <% else %>
      Upload File: <%= f.file_field :avatar %><br />
      <%= f.hidden_field :avatar_cache %>
      Upload from URL: <%= f.text_field :remote_avatar_url %>
    <% end %>
    </div>
  <%= f.actions do %>
    <%= f.action :submit, :label => 'Submit' %>
    <% end %> </div>
<% end %>
