<%- model_class = NewsPost.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_news_post_path,
            :class => 'btn btn-primary' %>
<br><br>
<table class="datatable table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:headline) %></th>
      <th><%= model_class.human_attribute_name(:datetime_published) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @news_posts.each do |news_post| %>
      <tr>
        <td><%= link_to news_post.headline, news_post_path(news_post) %></td>
        <td><%= news_post.datetime_published.to_date.to_formatted_s(:long_ordinal) %></td>
        <td><%= news_post.created_at.strftime("%I:%M%p %Z") unless news_post.created_at.nil? %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_news_post_path(news_post), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_news_post_path,
            :class => 'btn btn-primary' %>
<br><br>
