<h1>Users</h1>
<br />
<%= link_to 'New User', new_user_path, :class => "action" %>
<br /><br />
<table>
  <tr>
		<th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
		<td><%= user.first_last_name %></td>
		<td><%= user.email %></td>
		<% if user.id != session[:user_id] %>
    <td><%= link_to 'Delete', user, confirm: 'Are you sure?', method: :delete, :class => "action" %></td>
  	<% end %>
	</tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path, :class => "action" %>