<%- model_class = Manager.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_manager_path,
            :class => 'btn btn-primary' %>
<br><br>
<table class="datatable table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:avatar) %></th>
      <th><%= model_class.human_attribute_name(:person_id) %></th>
      <th><%= model_class.human_attribute_name(:position) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @managers.each do |manager| %>
      <tr>
        <td><%= image_tag(manager.person.avatar.square.thumb.url) %></td>
        <td><%= link_to manager.person.first_last_name, manager_path(manager) %></td>
        <td><%= manager.position %></td>
        <td><%= manager.email %></td>
        <td><%= manager.created_at.strftime("%I:%M%p %Z") unless manager.created_at.nil? %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_manager_path(manager), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_manager_path,
            :class => 'btn btn-primary' %>
<br><br>
