<p id="notice"><%= notice %></p>
<h2><%= link_to @manager.person.first_last_name, @manager.person %></h2>

<p>
  <b>Position:</b>
  <%= @manager.position %>
</p>

<p>
  <b>Office hours:</b>
  <%= @manager.office_hours %>
</p>

<p>
  <b>Email:</b>
  <%= @manager.email %>
</p>

<p>
  <b>Phone number:</b>
  <%= @manager.phone_number %>
</p>


<%= link_to 'Edit', edit_manager_path(@manager), :class => "action" %> |
<%= link_to 'Back', managers_path, :class => "action" %>
