%p#notice= notice

%p
  %b Title:
  = @event.title
%p
  %b First Line:
  = @event.first_line
%p
  %b Second Line:
  = @event.second_line
%p
  %b Location:
  = @event.location
%p
  %b Description:
  = @event.description

= link_to 'Edit', edit_event_path(@event)
= link_to 'Back', events_path
