<%- model_class = Setting.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:var) %></th>
      <th><%= model_class.human_attribute_name(:value) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= link_to setting.var, setting_path(setting) %></td>
        <td><%= text_field_tag setting.var, setting.value %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_setting_path(setting), :class => 'btn btn-mini' %>
            <%= link_to "save", "", :class => 'btn btn-mini ajax-save' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to t('.new', :default => t("helpers.links.new")),
    new_setting_path,
    :class => 'btn btn-primary' %>
    <script>
    </script>
