<%- model_class = Setting.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="datatable table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:var) %></th>
      <th><%= model_class.human_attribute_name(:value) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= link_to setting.var, setting_path(setting) %></td>
        <td><%= text_field_tag setting.var, setting.value, :disabled => 'disabled' %></td>
        <td>
            <%= link_to "Edit", "#", :class => 'btn btn-mini ajax-edit' %>
            <%= link_to "Save", "#", :class => 'btn btn-mini ajax-save' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
