<%- model_class = @setting.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:var) %>:</strong></dt>
  <dd><%= @setting.var %></dd>
  <dt><strong><%= model_class.human_attribute_name(:value) %>:</strong></dt>
  <dd><%= @setting.value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:target_id) %>:</strong></dt>
  <dd><%= @setting.target_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:target_type) %>:</strong></dt>
  <dd><%= @setting.target_type %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              settings_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_setting_path(@setting), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              setting_path(@setting),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
