- if current_person.admin?
  You are an admin
- if @person.avatar?
  = image_tag(@person.avatar.square.thumb.url)
%h1= @person.first_last_name
= link_to "Edit Profile", edit_person_path(@person), :class => 'btn'

%h2 My Shows
- if @shows.length == 0
  %p You have no shows at the moment.
- else
  %table.datatable.table.table-striped
    %thead
      %tr
        %th= Show.human_attribute_name(:avatar)
        %th= Show.human_attribute_name(:title)
        %th= Show.human_attribute_name(:genre)
        %th # Hosts
        %th # Slots
        %th= Show.human_attribute_name(:updated_at)
        %th= t '.actions', :default => t("helpers.actions")
    %tbody
      - @shows.each do |show|
        %tr
          %td= image_tag(show.avatar.square.thumb.url)
          %td= link_to show.title, show_path(show)
          %td= show.genre
          %td= show.people.count
          %td= show.slots.count
          %td= show.updated_at.strftime("%I:%M%p %Z") unless show.updated_at.nil?
          %td
            = link_to t('.edit', :default => t("helpers.links.edit")), |
              edit_show_path(show), :class => 'btn btn-mini'           |
            -#
            = link_to t('.destroy', :default => t("helpers.links.destroy")),                                  |
              show_path(show),                                                                                |
              :method => :delete,                                                                             |
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), |
              :class => 'btn btn-mini btn-danger'    
