-# if current_person.admin?
  You are an admin
- if @person.avatar?
  = image_tag(@person.avatar.square.small.url, :style => "float:right")
%h1= @person.first_last_name
%ul
  %li
    %strong
      Email:
    #{@person.email}
  %li 
    %strong
      Year: 
    #{@person.class_year}
  %li
    %strong
      Major: 
    #{@person.major}
  %li 
    %strong
      Hometown: 
    #{@person.hometown}
  %li 
    %strong
      DePaul ID: 
    #{@person.depaul_id}
  %li 
    %strong
      Facebook Username: 
    #{@person.facebook_username}
  %li 
    %strong
      LinkedIn Username: 
    #{@person.linkedin_username}
  %li 
    %strong
      Twitter Username: 
    #{@person.twitter_username}
  %li 
    %strong
      Website URL: 
    #{@person.website_url}
%p
  %strong
    Influences
%p= @person.influences
%p
  %strong
    Bio
%p= @person.bio
= link_to "Edit Profile", edit_person_path(@person), :class => 'btn'

-#%h2 Some Analytics
-#@analytics.each do |a| 
-##{a.page_path} #{a.pageviews}
%h2 My Shows
- if @shows.length == 0
  %p You have no shows at the moment.
- else
  %table.datatable.table.table-striped
    %thead
      %tr
        %th= Show.human_attribute_name(:avatar)
        %th= Show.human_attribute_name(:title)
        %th= Show.human_attribute_name(:genre)
        %th # Hosts
        %th # Slots
        %th= Show.human_attribute_name(:updated_at)
        %th= t '.actions', :default => t("helpers.actions")
    %tbody
      - @shows.each do |show|
        %tr
          %td= image_tag(show.avatar.square.thumb.url)
          %td= link_to show.title, show_path(show)
          %td= show.genre
          %td= show.people.count
          %td= show.slots.count
          %td= show.updated_at.strftime("%I:%M%p %Z") unless show.updated_at.nil?
          %td
            = link_to t('.edit', :default => t("helpers.links.edit")), |
              edit_show_path(show), :class => 'btn btn-mini'           |
            -#
            = link_to t('.destroy', :default => t("helpers.links.destroy")),                                  |
              show_path(show),                                                                                |
              :method => :delete,                                                                             |
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), |
              :class => 'btn btn-mini btn-danger'    
