= semantic_form_for @award, :html => { :class => 'form-horizontal' } do |f|
  = f.inputs do
    = f.input :name
    = f.input :for
    = f.input :year
    = f.input :award_organization_id, :as => :select, :collection => AwardOrganization.all, :prompt => true
  = f.actions do   
    = f.action :submit, :label => 'Submit', :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), awards_path, :class => 'btn'
