.page-header
  %h1 Awards

= link_to 'New', new_award_path, :class => 'btn btn-primary'

%table.table.table-striped.datatable
  %thead
    %tr
      %th Name
      %th For
      %th Year
      %th Organization
      %th Actions
  %tbody
    - @awards.each do |award|
      %tr
        %td= link_to award.name, award_path(award)
        %td= award.for
        %td= award.year
        %td= award.award_organization_name
        %td=l award.created_at
        %td
          = link_to 'Edit', edit_award_path(award), class: 'btn btn-mini'
          = link_to 'Delete', award_path(award), method: :delete, confirm: 'Are you sure?', class: 'btn btn-mini btn-danger'

= link_to 'New', new_award_path, :class => 'btn btn-primary'
