%h1 Listing awards

%table
  %tr
    %th Name
    %th For
    %th Year
    %th
    %th
    %th

  - @awards.each do |award|
    %tr
      %td= award.name
      %td= award.for
      %td= award.year
      %td= link_to 'Show', award
      %td= link_to 'Edit', edit_award_path(award)
      %td= link_to 'Destroy', award, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Award', new_award_path
