- model_class = AwardOrganization
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @award_organization.name
%p
  %strong= model_class.human_attribute_name(:url) + ':'
  %br
  = @award_organization.url

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), award_organizations_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_award_organization_path(@award_organization), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), award_organization_path(@award_organization), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
