<%= form_for @hosting, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <p>The show <%= collection_select(:hosting, :show_id, Show.find(:all, :order => 'title'), :id, :title, :prompt => true) %> is hosted by <%= collection_select(:hosting, :person_id, Person.find(:all, :order => 'last_name'), :id, :last_first_name, :prompt => true) %>.</p>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                hostings_path, :class => 'btn' %>
  </div>
<% end %>
