<h1>Hostings</h1>

<table>
  <tr>
    <th>Show</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hostings.each do |hosting| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= link_to hosting.show.title, hosting.show %></td>
    <td><%= link_to hosting.person.first_last_name, hosting.person %></td>
    <td><%= link_to 'Show', hosting, :class => "action" %></td>
    <td><%= link_to 'Edit', edit_hosting_path(hosting), :class => "action" %></td>
    <td><%= link_to 'Delete', hosting, confirm: 'Are you sure?', method: :delete, :class => "action" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New Hosting', new_hosting_path, :class => "action" %>
