<p id="notice"><%= notice %></p>

<p>
  <b>Show:</b>
  <%= link_to @hosting.show.title, @hosting.show %>
</p>

<p>
  <b>Host:</b>
  <%= link_to @hosting.person.first_last_name, @hosting.person %>
</p>


<%= link_to 'Edit', edit_hosting_path(@hosting), :class => "action" %> |
<%= link_to 'Back', hostings_path, :class => "action" %>
