<%= form_for(@scheduling) do |f| %>
  <% if @scheduling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scheduling.errors.count, "error") %> prohibited this scheduling from being saved:</h2>

      <ul>
      <% @scheduling.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<p>The show <%= collection_select(:scheduling, :show_id, Show.find(:all, :order => 'title'), :id, :title, :prompt => true) %> to be schedule on <%= collection_select(:scheduling, :slot_id, Slot.find(:all, :order => 'quarter'), :id, :quarter_start_time_end_time, :prompt => true) %>.</p>

  <div class="actions">
    <%= submit_tag 'Save', :class => "form_submit" %>
  </div>
<% end %>
