<h1>Scheduled Shows</h1>
<br />
<%= link_to 'Schedule a Show', new_scheduling_path, :class => "action" %>
<br /><br />

<table>
  <tr>
    <th>Show</th>
    <th>Slot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schedulings.each do |scheduling| %>
  <tr>
    <td><%= scheduling.show.title %></td>
    <td><%= scheduling.slot.quarter_start_time_end_time %></td>
    <td><%= link_to 'Show', scheduling, :class => "action" %></td>
    <td><%= link_to 'Edit', edit_scheduling_path(scheduling), :class => "action" %></td>
    <td><%= link_to 'Delete', scheduling, confirm: 'Are you sure?', method: :delete, :class => "action" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Schedule a Show', new_scheduling_path, :class => "action" %>
