<p id="notice"><%= notice %></p>

<p>
  <b>Show:</b>
  <%= @scheduling.show.title %>
</p>

<p>
  <b>Slot:</b>
  <%= @scheduling.slot.quarter_start_time_end_time %>
</p>


<%= link_to 'Edit', edit_scheduling_path(@scheduling), :class => "action" %> |
<%= link_to 'Back', schedulings_path, :class => "action" %>
