= semantic_nested_form_for @show, :html => { :class => 'form-horizontal', :html => {:multipart => true} } do |f|
  = f.error_messages
  = image_tag(@show.avatar.square.small.url, :style => 'float:right;')
  = f.inputs do
    %h2 Basic Info
    = f.inputs :title
    = f.input :genre_list, :label => 'Genre(s)', :as => :autocomplete, :url => autocomplete_genre_name_shows_path, :input_html => {:"data-delimiter" => ', '}
    = f.input :short_description, :input_html => { :class => 'autogrow', :rows => 10, :cols => 80  }
    = f.input :long_description, :input_html => { :class => 'autogrow', :rows => 10, :cols => 80  }
    = f.input :facebook_page_username, :hint => 'http://facebook.com/facebook_page_username'
    = f.input :twitter_username, :hint => 'http://twitter.com/twitter_username'
    = f.input :website_url
    = f.input :email, :as => :email
    = f.input :avatar, :as => :file, :label => 'Photo'
    = f.input :avatar_cache, :as => :hidden
    = f.input :remote_avatar_url, :as => :url, :label => 'Remote Photo URL'
    %h2 Attachments
    = f.semantic_fields_for :podcasts do |podcast|
      = podcast.inputs do
        = podcast.input :title
        = podcast.input :description, :input_html => { :class => 'autogrow', :rows => 10, :cols => 80  }
        = podcast.input :contributors
        = podcast.input :file, :as => :file, :label => 'File'
        = podcast.input :file_cache, :as => :hidden
        = podcast.link_to_remove "remove"
    = f.link_to_add 'Add Attachment', :podcasts
    %h2 Hosts
    = f.semantic_fields_for :hosts do |host|
      = host.input :fullname, as: :select, collection: Person.order(:first_name, :last_name), member_label: :fullname, prompt: true
      = host.link_to_remove "remove"
    = f.link_to_add 'Add Host', :hosts
  = f.actions do
    = f.action :submit, :label => 'Save'
    = f.action :cancel, :label => 'Cancel'
