- model_class = Show.new.class
%table.datatable.table.table-striped
  %thead
    %tr
      %th
      %th= model_class.human_attribute_name(:avatar)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:genres)
      %th # Hosts
      %th # Slots
      %th= model_class.human_attribute_name(:updated_at)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @shows.each do |show|
      %tr
        %th= check_box_tag 'show_ids[]', show.id
        %td= image_tag(show.avatar.square.thumb.url)
        %td= link_to show.title, show_path(show)
        %td= show.genre_list
        %td= show.people.count
        %td= show.slots.count
        %td= show.updated_at.strftime("%I:%M%p %Z") unless show.updated_at.nil?
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_show_path(show), :class => 'btn btn-mini'
= link_to t('.new', :default => t("helpers.links.new")), new_show_path, :class => 'btn btn-primary'
