.page-header
  %h1.title Shows
  = link_to 'Showing Archived (toggle)', shows_path(archived: true), remote: true, id: 'toggle'

  = form_tag admin_shows_path, method: :put do
    %div{:class => 'btn-toolbar'}
      .btn-group
        = link_to_function '✓', '$("input[id=show_ids_]").toggleCheckbox();', class: 'btn btn-warning'
        = link_to 'New', new_show_path, class: 'btn btn-primary'
        = submit_tag 'Archive', name: 'archive_button', class: 'btn'
        = submit_tag 'Restore', name: 'restore_button', class: 'btn'

    = render partial: 'table'

= link_to 'New', new_show_path, class: 'btn btn-primary'
