<%- model_class = Show.new.class -%>
<% form_tag search_shows_path, :method => 'get' do %>
    <div id ="search"> 
    <%= text_field_tag :search_text %>
    <%= submit_tag 'Search', :class => "form_submit" %>
     </div>
<% end %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_show_path,
            :class => 'btn btn-primary' %>
<br><br>
<table class="datatable table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:avatar) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:genre) %></th>
      <th># Hosts</th>
      <th># Slots</th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= image_tag(show.avatar.square.thumb.url) %></td>
        <td><%= link_to show.title, show_path(show) %></td>
        <td><%= show.genre %></td>
        <td><%= show.people.count %></td>
        <td><%= show.slots.count %></td>
        <td><%= show.updated_at.strftime("%I:%M%p %Z") unless show.updated_at.nil? %></td>
        
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_show_path(show), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      show_path(show),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' if current_person.admin? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_show_path,
            :class => 'btn btn-primary' %>
<br><br>
