<%- model_class = Show.new.class -%>
<h1>Search Shows</h1>
<%= form_tag search_shows_path, :method => 'get' do %>
    <div id ="search"> 
		<%= text_field_tag :search_text %>
		<%= submit_tag 'Search', :class => "form_submit" %>
     </div>
<% end %>
<% if @shows %>
	<% if @shows.length > 0 %>
		<% if @shows.length == 1 %>
			<h1>Found <%= @shows.length %> Match for "<%= params[:search_text]%>"</h1>
		<% else %>
			<h1>Found <%= @shows.length %> Matches for "<%= params[:search_text]%>"</h1>
		<% end %>
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th><%= model_class.human_attribute_name(:avatar) %></th>
			      <th><%= model_class.human_attribute_name(:title) %></th>
			      <th><%= model_class.human_attribute_name(:genre) %></th>
			      <th># Hosts</th>
			      <th># Slots</th>
			      
			      <th><%=t '.actions', :default => t("helpers.actions") %></th>
			    </tr>
			  </thead>
			  <tbody>
			    <% @shows.each do |show| %>
			      <tr>
			        <td><%= image_tag(show.avatar.square.thumb.url) %></td>
			        <td><%= link_to show.title, show_path(show) %></td>
			        <td><%= show.genre %></td>
			        <td><%= show.people.count %></td>
			        <td><%= show.slots.count %></td>
			        
			        <td>
			          <%= link_to t('.edit', :default => t("helpers.links.edit")),
			                      edit_show_path(show), :class => 'btn btn-mini' %>
			          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
			                      show_path(show),
			                      :method => :delete,
			                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
			                      :class => 'btn btn-mini btn-danger' %>
			        </td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
	<% else %>
		<p>Your search returned no results.</p>
	<% end %>
<% else %>
<p>Your search returned no results.</p>
<% end %>