<%- model_class = @show.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @show.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:genre) %>:</strong></dt>
  <dd><%= @show.genre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:short_description) %>:</strong></dt>
  <dd><%= @show.short_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:long_description) %>:</strong></dt>
  <dd><%= @show.long_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:facebook_page_username) %>:</strong></dt>
  <dd><%= @show.facebook_page_username %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @show.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:twitter_username) %>:</strong></dt>
  <dd><%= @show.twitter_username %></dd>
  <dt><strong><%= model_class.human_attribute_name(:website_url) %>:</strong></dt>
  <dd><%= @show.website_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:avatar) %>:</strong></dt>
  <dd><%= @show.avatar %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              shows_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_show_path(@show), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              show_path(@show),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
