<p id="notice"><%= notice %></p>

  <h2><%= @show.title %></h2>
<p>
  <b>Host(s):</b>
  <% @show.people.find(:all, :order => 'last_name').each do |person| %>
		<li><%= link_to person.last_first_name, :controller => "people", :action => "show", :id => person.id %></li>
	<% end %>
</p>

<p>
  <b>Time Slots(s):</b>
  <% @show.slots.find(:all, :order => 'quarter').each do |slot| %>
		<li><%= link_to slot.quarter_start_time_end_time, :controller => "slots", :action => "show", :id => slot.id %></li>
	<% end %>
</p>


<p>
  <b>Genre:</b>
  <%= @show.genre %>
</p>

<p>
  <b>Short description:</b>
  <%= @show.short_description %>
</p>

<p>
  <b>Long description:</b>
  <%= @show.long_description %>
</p>

<p>
  <b>Facebook page username:</b>
  <%= link_to @show.facebook_page_username, "http://facebook.com/" + @show.facebook_page_username unless @show.facebook_page_username.nil? %>
</p>

<p>
  <b>Email:</b>
  <%= link_to @show.email, "mailto:" + @show.email unless @show.email.nil? %>
</p>

<p>
  <b>Twitter username:</b>
  <%= link_to @show.twitter_username, "http://twitter.com/" + @show.twitter_username unless @show.twitter_username.nil? %>
</p>

<p>
  <b>Website url:</b>
  <%= link_to @show.website_url, "http://" + @show.website_url unless @show.website_url.nil? %>
</p>
<p>
  <b>Photo:</b>
	<% if @show.avatar? %>
		<%= image_tag(@show.avatar.square.thumb.url) %><br />
	<% else %>
		No Photo Uploaded
	<% end %>
</p>

<ul>
  <% for attachment in @show.attachments %>
    <li>
    <%= attachment.description %> - <%= link_to("Download", attachment.file_url) %>
    </li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_show_path(@show), :class => "action" %> |
<%= link_to 'Back', shows_path, :class => "action" %>
