.page-header
  %h1= @show.title
  %h3= @show.created_at.strftime('Added on %m/%d/%Y at %I:%M%p')
#tabs
  %ul
    %li
      = link_to 'Info', '#info' 
    %li
      = link_to 'Hosts', '#hosts'
  #info
    = image_tag(@show.small_url, style: 'margin-left:10px;float:right')
    %dl.dl
      %dt
        %strong Short Description
      %dd= @show.short_description
      %dt
        %strong Long Description
      %dd= @show.long_description
      %dt
        %strong Genres
      %dd= @show.genre_list
      %dt
        %strong Facebook Page Username
      %dd= @show.facebook_page_username
      %dt
        %strong Twitter Username
      %dd= @show.twitter_username
      %dt
        %strong Website URL
      %dd= @show.website_url
      %dt
        %strong Show Email
      %dd= mail_to @show.email

  #hosts
    %h2 Hosts
    - if @show.hosts.length == 0
      %p No hosts at the moment.
    - else
      %table.datatable.table.table-striped
        %thead
          %tr
            %th= Person.human_attribute_name(:avatar)
            %th= Person.human_attribute_name(:first_last_name)
            %th= Person.human_attribute_name(:email)
            %th # Shows
            %th= Person.human_attribute_name(:updated_at)
            %th= t '.actions', :default => t('helpers.actions')
        %tbody
          - @show.hosts.each do |person|
            %tr
              %td= image_tag(person.avatar.square.thumb.url)
              %td= link_to person.name, person_path(person)
              %td= mail_to person.email
              %td= person.shows.count
              %td= person.updated_at.strftime('%I:%M%p %Z') unless person.updated_at.nil?
              %td
                = link_to t('.edit', :default => t('helpers.links.edit')), edit_person_path(person), :class => 'btn btn-mini'

.form-actions
  = link_to 'Back', :back, :class => 'btn'
  = link_to 'Edit', edit_show_path(@show), :class => 'btn'
  = link_to 'Delete', show_path(@show), :method => 'delete', :data => { :confirm => "Are you sure you want to delete #{@show.title}?" }, :class => 'btn btn-danger'
