.page-header
  %h1.title Podcasts
= link_to 'New', new_podcast_path, :class => 'btn btn-primary' 
%br
  %br
    %table.datatable.table.table-striped
      %thead
        %tr
          %th Title
          %th Type
          %th Contributors
          %th File
          %th Priority
          %th Created At
          %th Actions
      %tbody
        - @podcasts.each do |podcast|
          %tr
            %td= link_to podcast.title, podcast_path(podcast)
            %td= podcast.podcast_type
            %td= podcast.contributors
            %td
              - if podcast.file?
                = link_to "Download File", podcast.file.url
              - else
                No file attached
            %td= podcast.priority
            %td= pretty_date podcast.created_at unless podcast.created_at.nil?
            %td
              = link_to 'Edit', edit_podcast_path(podcast), :class => 'btn btn-mini'
    = link_to 'New', new_podcast_path, :class => 'btn btn-primary'
    %br
      %br
