<%- model_class = Podcast.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_podcast_path,
            :class => 'btn btn-primary' %>
<br><br>
<table class="datatable table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:podcast_type) %></th>
      <th><%= model_class.human_attribute_name(:contributors) %></th>
      <th><%= model_class.human_attribute_name(:file) %></th>
      <th><%= model_class.human_attribute_name(:priority) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @podcasts.each do |podcast| %>
      <tr>
        <td><%= link_to podcast.title, podcast_path(podcast) %></td>
        <td><%= podcast.podcast_type %></td>
        <td><%= podcast.contributors %></td>
        <td>
          <% if podcast.file? %>
            <%= link_to "Download File", podcast.file.url  %>
          <% else %>
            No file attached
          <% end %>
        </td>
        <td><%= podcast.priority %></td>
        <td><%= podcast.created_at.strftime("%I:%M%p %Z") unless podcast.created_at.nil? %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_podcast_path(podcast), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_podcast_path,
            :class => 'btn btn-primary' %>
<br><br>
