<%- model_class = @podcast.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @podcast.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @podcast.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:podcast_type) %>:</strong></dt>
  <dd><%= @podcast.podcast_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contributors) %>:</strong></dt>
  <dd><%= @podcast.contributors %></dd>
  <dt><strong><%= model_class.human_attribute_name(:file) %>:</strong></dt>
  <dd><%= @podcast.file %></dd>
  <dt><strong><%= model_class.human_attribute_name(:priority) %>:</strong></dt>
  <dd><%= @podcast.priority %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              podcasts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_podcast_path(@podcast), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              podcast_path(@podcast),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
