!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title= content_for?(:title) ? yield(:title) : "Radio DePaul"
        = csrf_meta_tags
        / Le HTML5 shim, for IE6-8 support of HTML elements
        /[if lt IE 9]
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
        = stylesheet_link_tag "application", :media => "all"
        %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
          %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}
            %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
              %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
                %script{:src => "http://use.typekit.com/kng1gpc.js", :type => "text/javascript"}
                :javascript
                  try{Typekit.load();}catch(e){}  
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"} Radio DePaul
          .container.nav-collapse
            %ul.nav
              - if person_signed_in?
                %li= link_to "Shows", shows_path
                %li= link_to "People", people_path
                %li= link_to "Managers", managers_path
                %li= link_to "Schedule", slots_path
                %li= link_to "Podcasts", podcasts_path
                %li= link_to "News", news_posts_path
                %li= link_to "Events", events_path
                %li= link_to "Awards", awards_path
                %li= link_to "Apps", apps_path
                %li= link_to "Settings", settings_path
            %ul.nav.pull-right
              - if person_signed_in?
                - if current_person.admin? || current_person.holds_position?('Program Director')
                  %li
                    - new_apps = Application.find(:all, :conditions => {:archived => false, :hired => false, :rejected => false}).length
                    %a{:href => apps_path}
                      %span.badge.badge-important= "#{new_apps}"
                %li.drowndown
                  %a{class: 'dropdown-toggle', href: '#', :'data-toggle' => 'dropdown'}
                    = image_tag(current_person.avatar.square.thumb.url, :style => 'height:25px')
                    #{current_person.first_last_name}
                    %strong.caret
                  %ul.dropdown-menu
                    %li
                      = link_to "Edit Profile", edit_person_path(current_person)
                    %li
                      = link_to 'Change my Password', edit_person_registration_path
                    %li.divider
                    %li
                      = link_to('Logout', destroy_person_session_path, :method => :delete)
              - else
                %li.dropdown
                  %a{class: 'dropdown-toggle', href: '#', :'data-toggle' => 'dropdown'}
                    Login
                    %strong.caret
                  %div{class: 'dropdown-menu', style: 'padding: 15px;padding-bottom:0'}
                    = form_for(:person, :url => person_session_path) do |f|
                      = f.text_field :email, :placeholder => 'Email'
                      = f.password_field :password, :placeholder => 'Password'
                      = submit_tag 'Login', :class => 'btn btn-primary'
    .container
      .content
        .row
          .span9
            = render_breadcrumbs
            - if flash[:notice]
              %p.notice= flash[:notice]
            - if flash[:alert]
              %p.alert= flash[:alert]
            = yield
          .span3
            - if person_signed_in? && current_person.admin?
              .well.sidebar-nav
                %h3 Stats
                %ul#on-air.nav.nav-list
                  %li
                    Active Schedule: #{Settings.active_schedule}
                  %li
                    Shows: #{Show.count}
                  %li
                    Staff: #{Person.count}
                  %li
                    Managers: #{Manager.count}
                  %li
                    Podcasts: #{Podcast.count}
                  %li
                    News Posts: #{NewsPost.count}
              / .well
          / /span
        / /row
      / /content
      %footer
        %p © Radio DePaul 2012
    / /container
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application", "autocomplete-rails"
    :javascript
      $.ajax({
            url: "http://radiodepaul.herokuapp.com/api/getOnAir.js",
            dataType: "jsonp",
            type: "GET",
            processData: false,
            contentType: "application/json",
            success: function(data) {   
              console.log(data);
              var html = 'On Air Now';
              html += "" + data[0].show.title + "with"
              jQuery.each(data[0].show.hosts, function() {
                console.log($(this));
                html += "" + $(this)[0].name + "";
             });
              
              $('#on-air').append(html);
            }
        });
