<!DOCTYPE html>
<html>
<head>
  <title>Radio DePaul</title>
  <script type="text/javascript" src="http://use.typekit.com/kng1gpc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
	<div id="user_nav">
	  <% if current_user %>
	    Logged in as <%= current_user.first_last_name %>.
	    <%= link_to "Log out", log_out_path, :class => "action" %>
	  <% else %>
	    <%= link_to "log in", log_in_path, :class => "action" %>
	  <% end %>
	</div>
	<p>It is now <%= Time.now.strftime("%I:%M%p %Z") %></p>
	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, :id => "flash_#{name}" %>
	
	<nav>
		<ul>
			<li><%= link_to "Shows", shows_path %></li>
			<li><%= link_to "Hostings", hostings_path %></li>
			<li><%= link_to "People", people_path %></li>
			<li><%= link_to "Managers", managers_path %></li>
			<li><%= link_to "Schedule A Show", slots_path %></li>
			<li><%= link_to "Podcasts", podcasts_path %></li>
			<li><%= link_to "Users", users_path %></li>
		</ul>
	</nav>
	<% end %>
	<p id="head"><%= link_to 'Radio DePaul', home_path %></p>
</header>
<div id="content">
<%= yield %>
</div>

</body>
</html>