<!DOCTYPE html>
<html>
<head>
  <title>Radio DePaul</title>
  <script type="text/javascript" src="http://use.typekit.com/twt5fua.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p id="head"><%= link_to 'Radio DePaul', root_url %></p>
	<% if current_user %>
	    Logged in as <%= current_user.email %>.
	    <%= link_to "Log out", log_out_path %>
	  <% else %>
	    <%= link_to "Sign up", sign_up_path %> or
	    <%= link_to "log in", log_in_path %>
	  <% end %>
	<div class="bar">
	<h2>Welcome</h2>
	</div>
<%= yield %>

</body>
</html>